.ace_editor  ::-webkit-scrollbar {
    width: 17px;
}   

/* Track */
.ace_editor  ::-webkit-scrollbar-track {
    background: rgba(169, 169, 169, 0.1);
}

/* Handle */
.ace_editor  ::-webkit-scrollbar-thumb {
    background: rgba(169, 169, 169, 0.3);
}

/* Handle on hover */
.ace_editor  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.445);
}


.ace_editor div {
    scrollbar-color:  rgba(169, 169, 169, 0.3) rgba(169, 169, 169, 0.1);
}

